{% extends 'base.html.twig' %}

{% block title %}Salam AQA{% endblock %}
{% block header %}
    {{ include('structure/header.html.twig') }}
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



    <div class="container">
        <div class="container mt-4">
            <div class="jumbotron">
                <h1 class="display-4">Bienvenue sur SymRecipe</h1>
                <p class="lead">SymRecipe est une application qui va te permettre de créer des recettes à base d'ingrédients que tu auras toi-même créer. Tu pourras partager tes recettes à la communauté du site, ou bien les garder en privées.</p>
                <hr class="my-4">
                <p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application.</p>
                <a class="btn btn-primary btn-lgz" href="#" role="button">Inscription</a>
            </div>

            <div class="recipes">
                <h2 class="mt-4">Recettes de la communauté</h2>
                <div class="d-flex justify-content-between">
                   {# {% for recipe in recipes %}#}
                        <div class="card border-primary mb-3" style="max-width: 20rem;">
                            <div class="card-header">Recette n°{#{{ recipe.id }}#}22</div>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="{#{{ path('recipe.show', {id: recipe.id}) }}#}">{#{{ recipe.name }}#}</a>
                                </h4>
                                <p class="card-text">{#{{ recipe.description|slice(0, 100) ~ '...' }}#}</p>
                            </div>
                        </div>
                   {# {% endfor %}#}
                </div>
            </div>
        </div>

    </div>
{% endblock %}
